/* You can add global styles to this file, and also import other style files */
:root {
    --sss-button-primary-background: var(--sss-primary-color);
    --sss-button-primary-hover-background: var(--sss-primary-hover-color);
    --sss-button-primary-active-background: var(--sss-primary-active-color);
    --sss-button-primary-border-color: var(--sss-primary-color);
    --sss-button-primary-hover-border-color: var(--sss-primary-hover-color);
    --sss-button-primary-active-border-color: var(--sss-primary-active-color);
    --sss-button-primary-color: var(--sss-primary-contrast-color);
    --sss-button-primary-hover-color: var(--sss-primary-contrast-color);
    --sss-button-primary-active-color: var(--sss-primary-contrast-color);
    --sss-button-primary-focus-ring-color: var(--sss-primary-color);
    --sss-button-primary-focus-ring-shadow: none;
    --sss-button-secondary-background: var(--sss-surface-800);
    --sss-button-secondary-hover-background: var(--sss-surface-700);
    --sss-button-secondary-active-background: var(--sss-surface-600);
    --sss-button-secondary-border-color: var(--sss-surface-800);
    --sss-button-secondary-hover-border-color: var(--sss-surface-700);
    --sss-button-secondary-active-border-color: var(--sss-surface-600);
    --sss-button-secondary-color: var(--sss-surface-300);
    --sss-button-secondary-hover-color: var(--sss-surface-200);
    --sss-button-secondary-active-color: var(--sss-surface-100);
    --sss-button-secondary-focus-ring-color: var(--sss-surface-300);
    --sss-button-secondary-focus-ring-shadow: none;
    --sss-button-info-background: var(--sss-sky-400);
    --sss-button-info-hover-background: var(--sss-sky-300);
    --sss-button-info-active-background: var(--sss-sky-200);
    --sss-button-info-border-color: var(--sss-sky-400);
    --sss-button-info-hover-border-color: var(--sss-sky-300);
    --sss-button-info-active-border-color: var(--sss-sky-200);
    --sss-button-info-color: var(--sss-sky-950);
    --sss-button-info-hover-color: var(--sss-sky-950);
    --sss-button-info-active-color: var(--sss-sky-950);
    --sss-button-info-focus-ring-color: var(--sss-sky-400);
    --sss-button-info-focus-ring-shadow: none;
    --sss-button-success-background: var(--sss-green-400);
    --sss-button-success-hover-background: var(--sss-green-300);
    --sss-button-success-active-background: var(--sss-green-200);
    --sss-button-success-border-color: var(--sss-green-400);
    --sss-button-success-hover-border-color: var(--sss-green-300);
    --sss-button-success-active-border-color: var(--sss-green-200);
    --sss-button-success-color: var(--sss-green-950);
    --sss-button-success-hover-color: var(--sss-green-950);
    --sss-button-success-active-color: var(--sss-green-950);
    --sss-button-success-focus-ring-color: var(--sss-green-400);
    --sss-button-success-focus-ring-shadow: none;
    --sss-button-warn-background: var(--sss-orange-400);
    --sss-button-warn-hover-background: var(--sss-orange-300);
    --sss-button-warn-active-background: var(--sss-orange-200);
    --sss-button-warn-border-color: var(--sss-orange-400);
    --sss-button-warn-hover-border-color: var(--sss-orange-300);
    --sss-button-warn-active-border-color: var(--sss-orange-200);
    --sss-button-warn-color: var(--sss-orange-950);
    --sss-button-warn-hover-color: var(--sss-orange-950);
    --sss-button-warn-active-color: var(--sss-orange-950);
    --sss-button-warn-focus-ring-color: var(--sss-orange-400);
    --sss-button-warn-focus-ring-shadow: none;
    --sss-button-help-background: var(--sss-purple-400);
    --sss-button-help-hover-background: var(--sss-purple-300);
    --sss-button-help-active-background: var(--sss-purple-200);
    --sss-button-help-border-color: var(--sss-purple-400);
    --sss-button-help-hover-border-color: var(--sss-purple-300);
    --sss-button-help-active-border-color: var(--sss-purple-200);
    --sss-button-help-color: var(--sss-purple-950);
    --sss-button-help-hover-color: var(--sss-purple-950);
    --sss-button-help-active-color: var(--sss-purple-950);
    --sss-button-help-focus-ring-color: var(--sss-purple-400);
    --sss-button-help-focus-ring-shadow: none;
    --sss-button-danger-background: var(--sss-red-400);
    --sss-button-danger-hover-background: var(--sss-red-300);
    --sss-button-danger-active-background: var(--sss-red-200);
    --sss-button-danger-border-color: var(--sss-red-400);
    --sss-button-danger-hover-border-color: var(--sss-red-300);
    --sss-button-danger-active-border-color: var(--sss-red-200);
    --sss-button-danger-color: var(--sss-red-950);
    --sss-button-danger-hover-color: var(--sss-red-950);
    --sss-button-danger-active-color: var(--sss-red-950);
    --sss-button-danger-focus-ring-color: var(--sss-red-400);
    --sss-button-danger-focus-ring-shadow: none;
    --sss-button-contrast-background: var(--sss-surface-0);
    --sss-button-contrast-hover-background: var(--sss-surface-100);
    --sss-button-contrast-active-background: var(--sss-surface-200);
    --sss-button-contrast-border-color: var(--sss-surface-0);
    --sss-button-contrast-hover-border-color: var(--sss-surface-100);
    --sss-button-contrast-active-border-color: var(--sss-surface-200);
    --sss-button-contrast-color: var(--sss-surface-950);
    --sss-button-contrast-hover-color: var(--sss-surface-950);
    --sss-button-contrast-active-color: var(--sss-surface-950);
    --sss-button-contrast-focus-ring-color: var(--sss-surface-0);
    --sss-button-contrast-focus-ring-shadow: none;
    --sss-button-outlined-primary-hover-background: color-mix(in srgb, var(--sss-primary-color), transparent 96%);
    --sss-button-outlined-primary-active-background: color-mix(in srgb, var(--sss-primary-color), transparent 84%);
    --sss-button-outlined-primary-border-color: var(--sss-primary-700);
    --sss-button-outlined-primary-color: var(--sss-primary-color);
    --sss-button-outlined-secondary-hover-background: rgba(255, 255, 255, 0.04);
    --sss-button-outlined-secondary-active-background: rgba(255, 255, 255, 0.16);
    --sss-button-outlined-secondary-border-color: var(--sss-surface-700);
    --sss-button-outlined-secondary-color: var(--sss-surface-400);
    --sss-button-outlined-success-hover-background: color-mix(in srgb, var(--sss-green-400), transparent 96%);
    --sss-button-outlined-success-active-background: color-mix(in srgb, var(--sss-green-400), transparent 84%);
    --sss-button-outlined-success-border-color: var(--sss-green-700);
    --sss-button-outlined-success-color: var(--sss-green-400);
    --sss-button-outlined-info-hover-background: color-mix(in srgb, var(--sss-sky-400), transparent 96%);
    --sss-button-outlined-info-active-background: color-mix(in srgb, var(--sss-sky-400), transparent 84%);
    --sss-button-outlined-info-border-color: var(--sss-sky-700);
    --sss-button-outlined-info-color: var(--sss-sky-400);
    --sss-button-outlined-warn-hover-background: color-mix(in srgb, var(--sss-orange-400), transparent 96%);
    --sss-button-outlined-warn-active-background: color-mix(in srgb, var(--sss-orange-400), transparent 84%);
    --sss-button-outlined-warn-border-color: var(--sss-orange-700);
    --sss-button-outlined-warn-color: var(--sss-orange-400);
    --sss-button-outlined-help-hover-background: color-mix(in srgb, var(--sss-purple-400), transparent 96%);
    --sss-button-outlined-help-active-background: color-mix(in srgb, var(--sss-purple-400), transparent 84%);
    --sss-button-outlined-help-border-color: var(--sss-purple-700);
    --sss-button-outlined-help-color: var(--sss-purple-400);
    --sss-button-outlined-danger-hover-background: color-mix(in srgb, var(--sss-red-400), transparent 96%);
    --sss-button-outlined-danger-active-background: color-mix(in srgb, var(--sss-red-400), transparent 84%);
    --sss-button-outlined-danger-border-color: var(--sss-red-700);
    --sss-button-outlined-danger-color: var(--sss-red-400);
    --sss-button-outlined-contrast-hover-background: var(--sss-surface-800);
    --sss-button-outlined-contrast-active-background: var(--sss-surface-700);
    --sss-button-outlined-contrast-border-color: var(--sss-surface-500);
    --sss-button-outlined-contrast-color: var(--sss-surface-0);
    --sss-button-outlined-plain-hover-background: var(--sss-surface-800);
    --sss-button-outlined-plain-active-background: var(--sss-surface-700);
    --sss-button-outlined-plain-border-color: var(--sss-surface-600);
    --sss-button-outlined-plain-color: var(--sss-surface-0);
    --sss-button-text-primary-hover-background: color-mix(in srgb, var(--sss-primary-color), transparent 96%);
    --sss-button-text-primary-active-background: color-mix(in srgb, var(--sss-primary-color), transparent 84%);
    --sss-button-text-primary-color: var(--sss-primary-color);
    --sss-button-text-secondary-hover-background: var(--sss-surface-800);
    --sss-button-text-secondary-active-background: var(--sss-surface-700);
    --sss-button-text-secondary-color: var(--sss-surface-400);
    --sss-button-text-success-hover-background: color-mix(in srgb, var(--sss-green-400), transparent 96%);
    --sss-button-text-success-active-background: color-mix(in srgb, var(--sss-green-400), transparent 84%);
    --sss-button-text-success-color: var(--sss-green-400);
    --sss-button-text-info-hover-background: color-mix(in srgb, var(--sss-sky-400), transparent 96%);
    --sss-button-text-info-active-background: color-mix(in srgb, var(--sss-sky-400), transparent 84%);
    --sss-button-text-info-color: var(--sss-sky-400);
    --sss-button-text-warn-hover-background: color-mix(in srgb, var(--sss-orange-400), transparent 96%);
    --sss-button-text-warn-active-background: color-mix(in srgb, var(--sss-orange-400), transparent 84%);
    --sss-button-text-warn-color: var(--sss-orange-400);
    --sss-button-text-help-hover-background: color-mix(in srgb, var(--sss-purple-400), transparent 96%);
    --sss-button-text-help-active-background: color-mix(in srgb, var(--sss-purple-400), transparent 84%);
    --sss-button-text-help-color: var(--sss-purple-400);
    --sss-button-text-danger-hover-background: color-mix(in srgb, var(--sss-red-400), transparent 96%);
    --sss-button-text-danger-active-background: color-mix(in srgb, var(--sss-red-400), transparent 84%);
    --sss-button-text-danger-color: var(--sss-red-400);
    --sss-button-text-contrast-hover-background: var(--sss-surface-800);
    --sss-button-text-contrast-active-background: var(--sss-surface-700);
    --sss-button-text-contrast-color: var(--sss-surface-0);
    --sss-button-text-plain-hover-background: var(--sss-surface-800);
    --sss-button-text-plain-active-background: var(--sss-surface-700);
    --sss-button-text-plain-color: var(--sss-surface-0);
    --sss-button-link-color: var(--sss-primary-color);
    --sss-button-link-hover-color: var(--sss-primary-color);
    --sss-button-link-active-color: var(--sss-primary-color);
}

:root {
    --sss-border-radius-none: 0;
    --sss-border-radius-xs: 2px;
    --sss-border-radius-sm: 4px;
    --sss-border-radius-md: 6px;
    --sss-border-radius-lg: 8px;
    --sss-border-radius-xl: 12px;
    --sss-emerald-50: #ecfdf5;
    --sss-emerald-100: #d1fae5;
    --sss-emerald-200: #a7f3d0;
    --sss-emerald-300: #6ee7b7;
    --sss-emerald-400: #34d399;
    --sss-emerald-500: #10b981;
    --sss-emerald-600: #059669;
    --sss-emerald-700: #047857;
    --sss-emerald-800: #065f46;
    --sss-emerald-900: #064e3b;
    --sss-emerald-950: #022c22;
    --sss-green-50: #f0fdf4;
    --sss-green-100: #dcfce7;
    --sss-green-200: #bbf7d0;
    --sss-green-300: #86efac;
    --sss-green-400: #4ade80;
    --sss-green-500: #22c55e;
    --sss-green-600: #16a34a;
    --sss-green-700: #15803d;
    --sss-green-800: #166534;
    --sss-green-900: #14532d;
    --sss-green-950: #052e16;
    --sss-lime-50: #f7fee7;
    --sss-lime-100: #ecfccb;
    --sss-lime-200: #d9f99d;
    --sss-lime-300: #bef264;
    --sss-lime-400: #a3e635;
    --sss-lime-500: #84cc16;
    --sss-lime-600: #65a30d;
    --sss-lime-700: #4d7c0f;
    --sss-lime-800: #3f6212;
    --sss-lime-900: #365314;
    --sss-lime-950: #1a2e05;
    --sss-red-50: #fef2f2;
    --sss-red-100: #fee2e2;
    --sss-red-200: #fecaca;
    --sss-red-300: #fca5a5;
    --sss-red-400: #f87171;
    --sss-red-500: #ef4444;
    --sss-red-600: #dc2626;
    --sss-red-700: #b91c1c;
    --sss-red-800: #991b1b;
    --sss-red-900: #7f1d1d;
    --sss-red-950: #450a0a;
    --sss-orange-50: #fff7ed;
    --sss-orange-100: #ffedd5;
    --sss-orange-200: #fed7aa;
    --sss-orange-300: #fdba74;
    --sss-orange-400: #fb923c;
    --sss-orange-500: #f97316;
    --sss-orange-600: #ea580c;
    --sss-orange-700: #c2410c;
    --sss-orange-800: #9a3412;
    --sss-orange-900: #7c2d12;
    --sss-orange-950: #431407;
    --sss-amber-50: #fffbeb;
    --sss-amber-100: #fef3c7;
    --sss-amber-200: #fde68a;
    --sss-amber-300: #fcd34d;
    --sss-amber-400: #fbbf24;
    --sss-amber-500: #f59e0b;
    --sss-amber-600: #d97706;
    --sss-amber-700: #b45309;
    --sss-amber-800: #92400e;
    --sss-amber-900: #78350f;
    --sss-amber-950: #451a03;
    --sss-yellow-50: #fefce8;
    --sss-yellow-100: #fef9c3;
    --sss-yellow-200: #fef08a;
    --sss-yellow-300: #fde047;
    --sss-yellow-400: #facc15;
    --sss-yellow-500: #eab308;
    --sss-yellow-600: #ca8a04;
    --sss-yellow-700: #a16207;
    --sss-yellow-800: #854d0e;
    --sss-yellow-900: #713f12;
    --sss-yellow-950: #422006;
    --sss-teal-50: #f0fdfa;
    --sss-teal-100: #ccfbf1;
    --sss-teal-200: #99f6e4;
    --sss-teal-300: #5eead4;
    --sss-teal-400: #2dd4bf;
    --sss-teal-500: #14b8a6;
    --sss-teal-600: #0d9488;
    --sss-teal-700: #0f766e;
    --sss-teal-800: #115e59;
    --sss-teal-900: #134e4a;
    --sss-teal-950: #042f2e;
    --sss-cyan-50: #ecfeff;
    --sss-cyan-100: #cffafe;
    --sss-cyan-200: #a5f3fc;
    --sss-cyan-300: #67e8f9;
    --sss-cyan-400: #22d3ee;
    --sss-cyan-500: #06b6d4;
    --sss-cyan-600: #0891b2;
    --sss-cyan-700: #0e7490;
    --sss-cyan-800: #155e75;
    --sss-cyan-900: #164e63;
    --sss-cyan-950: #083344;
    --sss-sky-50: #f0f9ff;
    --sss-sky-100: #e0f2fe;
    --sss-sky-200: #bae6fd;
    --sss-sky-300: #7dd3fc;
    --sss-sky-400: #38bdf8;
    --sss-sky-500: #0ea5e9;
    --sss-sky-600: #0284c7;
    --sss-sky-700: #0369a1;
    --sss-sky-800: #075985;
    --sss-sky-900: #0c4a6e;
    --sss-sky-950: #082f49;
    --sss-blue-50: #eff6ff;
    --sss-blue-100: #dbeafe;
    --sss-blue-200: #bfdbfe;
    --sss-blue-300: #93c5fd;
    --sss-blue-400: #60a5fa;
    --sss-blue-500: #3b82f6;
    --sss-blue-600: #2563eb;
    --sss-blue-700: #1d4ed8;
    --sss-blue-800: #1e40af;
    --sss-blue-900: #1e3a8a;
    --sss-blue-950: #172554;
    --sss-indigo-50: #eef2ff;
    --sss-indigo-100: #e0e7ff;
    --sss-indigo-200: #c7d2fe;
    --sss-indigo-300: #a5b4fc;
    --sss-indigo-400: #818cf8;
    --sss-indigo-500: #6366f1;
    --sss-indigo-600: #4f46e5;
    --sss-indigo-700: #4338ca;
    --sss-indigo-800: #3730a3;
    --sss-indigo-900: #312e81;
    --sss-indigo-950: #1e1b4b;
    --sss-violet-50: #f5f3ff;
    --sss-violet-100: #ede9fe;
    --sss-violet-200: #ddd6fe;
    --sss-violet-300: #c4b5fd;
    --sss-violet-400: #a78bfa;
    --sss-violet-500: #8b5cf6;
    --sss-violet-600: #7c3aed;
    --sss-violet-700: #6d28d9;
    --sss-violet-800: #5b21b6;
    --sss-violet-900: #4c1d95;
    --sss-violet-950: #2e1065;
    --sss-purple-50: #faf5ff;
    --sss-purple-100: #f3e8ff;
    --sss-purple-200: #e9d5ff;
    --sss-purple-300: #d8b4fe;
    --sss-purple-400: #c084fc;
    --sss-purple-500: #a855f7;
    --sss-purple-600: #9333ea;
    --sss-purple-700: #7e22ce;
    --sss-purple-800: #6b21a8;
    --sss-purple-900: #581c87;
    --sss-purple-950: #3b0764;
    --sss-fuchsia-50: #fdf4ff;
    --sss-fuchsia-100: #fae8ff;
    --sss-fuchsia-200: #f5d0fe;
    --sss-fuchsia-300: #f0abfc;
    --sss-fuchsia-400: #e879f9;
    --sss-fuchsia-500: #d946ef;
    --sss-fuchsia-600: #c026d3;
    --sss-fuchsia-700: #a21caf;
    --sss-fuchsia-800: #86198f;
    --sss-fuchsia-900: #701a75;
    --sss-fuchsia-950: #4a044e;
    --sss-pink-50: #fdf2f8;
    --sss-pink-100: #fce7f3;
    --sss-pink-200: #fbcfe8;
    --sss-pink-300: #f9a8d4;
    --sss-pink-400: #f472b6;
    --sss-pink-500: #ec4899;
    --sss-pink-600: #db2777;
    --sss-pink-700: #be185d;
    --sss-pink-800: #9d174d;
    --sss-pink-900: #831843;
    --sss-pink-950: #500724;
    --sss-rose-50: #fff1f2;
    --sss-rose-100: #ffe4e6;
    --sss-rose-200: #fecdd3;
    --sss-rose-300: #fda4af;
    --sss-rose-400: #fb7185;
    --sss-rose-500: #f43f5e;
    --sss-rose-600: #e11d48;
    --sss-rose-700: #be123c;
    --sss-rose-800: #9f1239;
    --sss-rose-900: #881337;
    --sss-rose-950: #4c0519;
    --sss-slate-50: #f8fafc;
    --sss-slate-100: #f1f5f9;
    --sss-slate-200: #e2e8f0;
    --sss-slate-300: #cbd5e1;
    --sss-slate-400: #94a3b8;
    --sss-slate-500: #64748b;
    --sss-slate-600: #475569;
    --sss-slate-700: #334155;
    --sss-slate-800: #1e293b;
    --sss-slate-900: #0f172a;
    --sss-slate-950: #020617;
    --sss-gray-50: #f9fafb;
    --sss-gray-100: #f3f4f6;
    --sss-gray-200: #e5e7eb;
    --sss-gray-300: #d1d5db;
    --sss-gray-400: #9ca3af;
    --sss-gray-500: #6b7280;
    --sss-gray-600: #4b5563;
    --sss-gray-700: #374151;
    --sss-gray-800: #1f2937;
    --sss-gray-900: #111827;
    --sss-gray-950: #030712;
    --sss-zinc-50: #fafafa;
    --sss-zinc-100: #f4f4f5;
    --sss-zinc-200: #e4e4e7;
    --sss-zinc-300: #d4d4d8;
    --sss-zinc-400: #a1a1aa;
    --sss-zinc-500: #71717a;
    --sss-zinc-600: #52525b;
    --sss-zinc-700: #3f3f46;
    --sss-zinc-800: #27272a;
    --sss-zinc-900: #18181b;
    --sss-zinc-950: #09090b;
    --sss-neutral-50: #fafafa;
    --sss-neutral-100: #f5f5f5;
    --sss-neutral-200: #e5e5e5;
    --sss-neutral-300: #d4d4d4;
    --sss-neutral-400: #a3a3a3;
    --sss-neutral-500: #737373;
    --sss-neutral-600: #525252;
    --sss-neutral-700: #404040;
    --sss-neutral-800: #262626;
    --sss-neutral-900: #171717;
    --sss-neutral-950: #0a0a0a;
    --sss-stone-50: #fafaf9;
    --sss-stone-100: #f5f5f4;
    --sss-stone-200: #e7e5e4;
    --sss-stone-300: #d6d3d1;
    --sss-stone-400: #a8a29e;
    --sss-stone-500: #78716c;
    --sss-stone-600: #57534e;
    --sss-stone-700: #44403c;
    --sss-stone-800: #292524;
    --sss-stone-900: #1c1917;
    --sss-stone-950: #0c0a09;
}
